 header{
        background-color: rgba(35, 35, 146, 0.362);
        padding: 20px;
        color: white;
        text-align: center;
    }
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: url('blank-black-corporate-stationery-on-600nw-1051434977.webp') no-repeat center center fixed;
  background-size: cover;
  color: #333;
}
.navbar {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 15px 30px;
}
#img{
  text-align: center;
}
.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  text-align: center;
}
.submit{
  height: 30px;
  width: 150px;
  border-radius: 10px;
  background-color:  #333;
  color: white;
}
.submit:hover{
  background-color:  #3333338d;
}
.card {
  max-width: 700px;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 30px;
  margin: 30px auto;
  border-radius: 10px;
}
div a{
  display: block;
}
 div a:hover{
  text-decoration-line: underline;

}
